body {
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
}

ul {
	padding-left: 0;
	list-style: none;
	text-align: center;
}

body {
	font-size: 16px;
}

div,
p,
ul,
li,
a,
#datetime {
	font-size: inherit;
}
