@font-face {
	font-family: SFProDisplay;
	src: url(./assets/SFProDisplay.ttf);
}

body {
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;

	min-height: 100vh;
	margin: 0;

	font-family: SFProDisplay;
	font-size: 16px;
	text-align: center;
}

ul {
	padding-left: 0;
	list-style: none;
}

div,
p,
ul,
li,
a,
#datetime {
	font-size: inherit;
}

img {
	display: none;
	margin: 1rem auto;
	max-width: 100%;
	height: auto;
	align-self: center;
	width: 350px;
	height: 200px;
}
