@font-face {
	font-family: SFProDisplay;
	src: url(./assets/SFProDisplay.ttf);
}

body {
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-synthesis: weight;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;

	min-height: 100vh;
	margin: 0;

	/* 	font-family: SFProDisplay;
 */
	font-size: 16px;
	text-align: center;
}

ul {
	padding-left: 0;
	list-style: none;
}

div,
p,
ul,
li,
a,
#datetime {
	font-size: inherit;
}

img {
	display: block;
	margin: 1rem auto;
	max-width: 100%;
	height: auto;
	align-self: center;
	-webkit-user-drag: none;
	user-drag: none;
}

#nsetn {
	display: none;
	width: 200px;
	height: auto;
}
